@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200;
}

@layer base {
  .tw-block {
    @apply block;
  }

  .appearance-auto {
    appearance: auto;
  }

  svg {
    display: unset;
  }

  .stop-color-yellow-300 {
    stop-color: theme("colors.yellow.300");
  }

  .stop-color-gray-300 {
    stop-color: theme("colors.gray.300");
  }

  .stop-color-gray-500 {
    stop-color: theme("colors.gray.500");
  }
}

/* Used to detect in JavaScript if apps have loaded styles or not. */
:root {
  --reach-dialog: 1;
}

[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 999;
}

[data-reach-dialog-content] {
  outline: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
}
